* {
	font-family: 'Barlow Semi Condensed';
	font-size: 13px;
}

.container-fluid {
	background-color: hsl(210, 46%, 95%);
}

h1 {
	font-size: 2.3rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h2 {
	font-size: 1.6rem;
	line-height: 1.2;
}

h3 {
	font-size: 1.2rem;
	margin: 0;
}

p {
	font-size: 1.2rem;
}

.image-block {
	position: relative;
	z-index: 2;
}

.profile-desc {
	margin-left: 20px;
}

.svg-quotation {
	top: 0;
	position: absolute;
	right: 5rem;
	z-index: 1;
}

.dark-bg-heading {
	color: hsl(0, 0%, 100%);
	z-index: 1;
	position: relative;
}

.light-bg-heading {
	color: hsl(219, 29%, 14%);
}

.dark-bg-para {
	color: hsl(0, 0%, 75%);
}

.light-bg-para {
	color: hsl(219, 29%, 55%);
}

.grid-cont {
	border-radius: 10px;
	box-shadow: 2px 3px 10px grey;
}

.profile-img {
	border-radius: 50%;
	border: 2px solid hsl(0, 0%, 75%);
}

.violet-grid {
	position: relative;
	padding: 25px;
	flex-grow: 1;
	background-color: hsl(263, 55%, 52%);
}

.dark-greyish-blue-grid {
	padding: 25px;
	flex-grow: 1;
	background-color: hsl(217, 19%, 35%);
}

.white-grid {
	flex-grow: 1;
	padding: 25px;
	background-color: hsl(0, 0%, 100%);
}

.dark-blackish-blue-grid {
	padding: 25px;
	background-color: hsl(219, 29%, 14%);
}

.bt-grid {
	margin-top: 20px;
}

.lt-grid {
	padding-left: 20px;
}

.lt-grid.d-flex {
	flex-direction: column;
	align-items: stretch;
}

.rt-grid {
	padding-right: 20px;
}

.bt-grid-1 {
	margin-bottom: 25px;
}


@media (max-width:  575px) {
	.svg-quotation {
		right:  2rem;
	}
}

@media (max-width: 767px) and (min-width:  576px) {
	.svg-quotation {
		right:  3rem;
	}
}

@media (max-width:  991px) {
	.bt-grid {
		padding-left: 25px;
		padding-right: 25px;
		margin-bottom: 20px;
	}

	.rt-grid {
		margin-bottom: 25px;
	}
}